/*コメント用*/

/*
使う色
・紺色　#00336D
・グレー #EAEAE0
・水色　#4D9BE8
・白　#fff
・カラム用の薄い赤　#FADBDA
*/

.col-12{
    width:1200px;
    overflow: hidden;
    margin-bottom: 20px;
	background: #EAEAE0;
}

.col-6{
    width:590px;
    margin:5px;
    float: left;
    overflow: hidden;
	text-align: center;
}

.col-4{
	width:390px;
    padding:5px;
    float: left;
	margin: 50px;
    overflow: hidden;
	text-align: center;
	
}

.col-3{
    width:290px;
    padding:5px;
    float: left;
    overflow: hidden;
	text-align: center;
}
/*三角形つくろうとしたが、代替案必要　また、画像をパワポで作成して代替する必要もあり。*/

header{
	background-image: url(image/hope.jpeg);
	background-size: cover;
	background-position: center;
	text-align: center;
	width: 1200px;
	height: 400px;
	color: #fff;
	margin: auto;
}

.container{
	margin: auto;
	padding-left:20px;
}

h2{
	color: #00336D;
	border-left: 10px solid #00336D;
	padding-left:10px;
	
}

h3{
	color: #4D9BE8;
	padding-left:20px; 
	clear: left;
	padding-top:30px;
}
p{
	padding-left:40px;
}

h4{
	padding-left:30px;
	clear: left;
	padding-top:40px;
}

.sub{
	float: left;
	overflow:hidden;
	margin-right:20px;
	margin-left:20px;
	width:400px;
}
.change{
	float: left;
	overflow:hidden;
	margin-right:20px;
	margin-left:20px;
	
}

.chapter{
	float: left;
	
}
.ni-tye{
	text-align: right;
	padding-right: 20px;
}

nav{
	overflow: hidden;
	
}
li{
	background:#00336D;
	float: left;
	list-style-type: none;
	color: #fff;
	padding: 8px;
	margin: 20px;
	display: block;
	transition: 0.5s;
	border-radius: 10px;
	border: 1px solid #fff;
}

li:hover{
	background: #fff;
	color: #00336D;
	transition: 0.5s;
	border: 1px solid #00336D;
}

.fixed{
	overflow: hidden;
}

.time{
	text-decoration: none;
	color: #fff;
}

.time:hover{
	color: #00336D;
}